<!DOCTYPE html> 
<html> 
	<head> 
	<title>My Page</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
	<style type="text/css">
		p {padding: 0px;]
	</style>
</head> 
<body> 

	<div data-role="page" id="home" >

		<div data-role="header" data-theme="b">
			<h1>Selamat datang di GPO</h1>
		</div><!-- /header -->
		
		<div data-role="content">	
			<h4>Biarlah rohmu menyala-nyala dan layanilah Tuhan (Roma 12:11)</h4>		
			
			<a href="#tataibadah" data-role="button" data-theme="b" data-icon='arrow-r' data-iconpos='right'>Tata Ibadah</a>
			<a href="#ayat" data-role="button" data-theme="b" data-icon='arrow-r' data-iconpos='right'>Ayat2</a>
			<a href="#pujian" data-role="button" data-theme="b" data-icon='arrow-r' data-iconpos='right'>Pujian</a>
			<a href="#renungan" data-role="button" data-theme="b" data-icon='arrow-r' data-iconpos='right'>Renungan</a>
			<a href="feedback" data-role="button" data-theme="b" data-icon='arrow-r' data-iconpos='right'>Feedback</a>
			
		</div><!-- /content -->
		
		<div data-role="footer" data-theme="b">	
			<h4>Beta Version</h4>		
		</div><!-- /content -->

	</div><!-- /page -->

	<div data-role="page" id="tataibadah">

		<div data-role="header" data-theme="b">
			<h1>Tata Ibadah Minggu<a href="#home" data-role="buttton" data-icon="home" data-iconpos="right" /></h1>
		</div><!-- /header -->
		
		<div data-role="content" data-theme="b">	
		   {% autoescape off %}
			{{ Keb.tataIbadah  }}
		   {% endautoescape %}	
		</div><!-- /content -->
		
		<div data-role="footer" data-theme="b">	
			<h4>Beta Version</h4>		
		</div><!-- /content -->

	</div><!-- /page -->

	<div data-role="page" id="ayat">

		<div data-role="header" data-theme="b">
			<h4>Ayat-ayat dalam liturgi<a href="#home" data-role="buttton" data-icon="home" data-iconpos="right" /></h4>
		</div><!-- /header -->
		
		<div data-role="content" data-theme="b">	
			<div data-role="collapsible-set">
			    {% for ayat in ayatList %}
				<div data-role="collapsible">
					<h3>{{ ayat.title }}</h3>
						{% autoescape off %}
						{{ ayat.detail  }}
						{% endautoescape %}						
				</div>
				{% endfor %}
			</div>		
		</div><!-- /content -->
		
		<div data-role="footer" data-theme="b">	
			<h4>Beta Version</h4>		
		</div><!-- /content -->

	</div><!-- /page -->

	<div data-role="page" id="pujian">

		<div data-role="header" data-theme="b">
			<h4>Pujian <a href="#home" data-role="buttton" data-icon="home" data-iconpos="right" /></h4>
		</div><!-- /header -->
		
		<div data-role="content" data-theme="b">	
			<div data-role="collapsible-set">
			    {% for pujian in pujianList %}
				<div data-role="collapsible">
					<h3>{{ pujian.title }}</h3>
						{% autoescape off %}
						{{ pujian.detail  }}
						{% endautoescape %}						
				</div>
				{% endfor %}
			</div>		
		</div><!-- /content -->
		
		<div data-role="footer" data-theme="b">	
			<h4>Beta Version</h4>		
		</div><!-- /content -->

	</div><!-- /page -->
	
		<div data-role="page" id="renungan">

		<div data-role="header" data-theme="b">
			<h1>Tata Ibadah Minggu<a href="#home" data-role="buttton" data-icon="home" data-iconpos="right" /></h1>
		</div><!-- /header -->
		
		<div data-role="content" data-theme="b">	
		   {% autoescape off %}
			{{ Keb.renungan  }}
		   {% endautoescape %}	
		</div><!-- /content -->
		
		<div data-role="footer" data-theme="b">	
			<h4>Footer Section</h4>		
		</div><!-- /content -->

	</div><!-- /page -->
	
</body>
</html>


